@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300&family=Cinzel:wght@500&family=Gloria+Hallelujah&family=Inter:wght@300;400;500&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300&family=Cinzel:wght@500&family=Dosis:wght@300&family=Gloria+Hallelujah&family=Inter:wght@300;400;500&family=Quicksand:wght@500&display=swap');
$font2: 'Quicksand', sans-serif;
$background: #ECE5DA;
$font1: 'Antonio', sans-serif;
$errorView: 1px dotted red;
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

    
@media (max-width: 768px) {
    /* Styles applied for devices with a maximum width of 768 pixels or less */
    /* For example, smartphones and small tablets */
    body {
      background-color: lightblue;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    /* Styles applied for devices with a minimum width of 769 pixels and a maximum width of 1024 pixels */
    /* For example, tablets and smaller laptops */
    body {
      background-color: lightgreen;
    }
  }
  @media (min-width: 1280px) and (max-width: 1440px) {
    /* Styles applied for laptops with a screen width between 1280px and 1440px */
    /* You can adjust the values based on the specific range you want to target */
  
    /* Example styles */
    body {
  background-color: red;
    }
  }
  @media (min-width: 1025px) {
    .navbar{
        padding: 50px;
        margin-bottom: 30px;
        .navbarItems{
            display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        flex-direction: row;
            flex-wrap: wrap;
        .title{
            font-size: 70px;
            font-family: $font1;
            margin-right: 100px;
            flex: 1;
            #color{
                font-style: italic;
                color: #19A7CE;
            }
        }
    
        ul{
            font-family: $font2;
            display: flex;
            flex-direction: row;
            gap: 10px;
            li{
                list-style: none;
    
                button{
                    cursor: pointer;
                    padding: 10px;
                    background-color: #19A7CE;
                    outline: none;
                    border: none;
                    color: whitesmoke;
                    font-size: 18px;
                    font-family: $font2;
                    transition: .2s ease-in-out;
    
                    &:hover{
                        background-color: #1889a8;
                        transform: scale(1.05);
                    }
                }
            }
        }
        }
       
    }
    .bannerContainer{
        background-image: url('../images/banner.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 100px;
        overflow: hidden;
        .text{
            position: relative;
            font-size: 50px;
            font-family: $font2;
            text-align: justify;
            width: 40%;
            padding: 100px;
            
            &::before{
                content: '';
                background-color: rgba(68, 68, 68, 0.37);
                position: absolute;
                width: 200%;
                transform: scale(1.5);
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
        }
    }
    .contactPreview{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        gap: 300px;
        div{
            svg{
                color: rgb(55, 134, 180);
            }
            span{
                position: relative;
                top: -10px;
                font-family: $font2;
            }
        }
        
    }
    .showCase{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
        div{
            text-align: justify;
            background-color: #19A7CE;
            width: 70%;
            padding: 30px;
            height: 300px;
            font-family: $font2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;
            transition: .3s ease-in-out;
            cursor: pointer;
            &:nth-child(even){
                background-color: #1889a8;
            }
            span{
                color: whitesmoke;
                text-align: center;
            }
            &:hover{
                transform: scale(1.1);
                box-shadow: 1px 7px 19px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 7px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 7px 19px 0px rgba(0,0,0,0.75);
            }
        }
        img{
            filter: invert(100%);
            width: 15%;
            background-color: rgba(255, 255, 255, 0.219);
            border-radius: 50%;
            padding: 10px;
            overflow: visible;
            transition: .2s ease-in-out;
        }
        
    }
    .department{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        font-family: $font2;
        font-size: 20px;
        div{
            display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
            &:first-child{
                span{
                    &:nth-child(2){
                        font-weight: 800;
                        font-size: 40px;
                    }
                }
            }
    }
    
    
    
      
    }
  }